<!DOCTYPE html>
<html>
<body>
<table style="max-width:600px;width:100%;margin:0 auto;font-family: sans-serif; color: #1c1f21;padding-top: 30px;padding-bottom: 30px;">
  <tbody>
  <tr>
    <td>
      <img src="{{ backUrl }}/sites/default/files/horizontal.png"/>
    </td>
  </tr>
  <tr>
    <td>
      <p style="font-size: 24px; line-height: 32.68px;font-family: sans-serif;">Hello {{ data.name }},</p>
    </td>
  </tr>
  <tr>
    <td>
      <p style="font-size: 24px; line-height: 32.68px;">
        Thank you! Your email account has been verified. Soon you will receive news, articles and all the information related to <a style="color:#00AD71; text-decoration: underline;" href="{{ frontUrl }}">Example.</a>
      </p>
    </td>
  </tr>
  <tr>
    <td style="padding-bottom: 30px;">
      <p style="font-size: 24px; line-height: 32.68px;font-family: sans-serif;">
        Greetings from the <a style="color:#00AD71; text-decoration: underline;" href="{{ frontUrl }}">Example</a> team.
      </p>
    </td>
  </tr>
  <tr>
    <td style="border-top: 1px solid #00AD71;padding-top: 10px;">
      <p style="font-size: 16px;">Sent by <a style="color: #00AD71;text-decoration: none;" href="{{ frontUrl }}">Example</a></p>
    </td>
  </tr>
  <tr>
    <td>
      <a href="https://www.linkedin.com/company/"><img src="{{ backUrl }}/sites/default/files/2022-11/li.png"/></a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
